.title {
    text-align: start;

    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.1em;
        color: $blackColor;
        margin-bottom: 30px;

        & span {
            color: $mainColor;
        }
    }

    .title p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $blackColor;
        margin-bottom: 100px;
    }
}

.btn {
    display: flex;
    justify-content: start;
    column-gap: 120px;
    margin-top: 70px;
    margin-bottom: 45px;

    .btn1 {
        background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
        box-shadow: 0px 2px 10px #46B1DE;
        border-radius: 8px;
        border: none;
        width: 180px;
        height: 60px;

        & a {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
        }
    }

    .btn2 {
        background: #FFFFFF;
        mix-blend-mode: normal;
        border: 1px solid #DDE0DC;
        box-shadow: 0px 2px 10px #DDE0DC;
        border-radius: 8px;
        width: 180px;
        height: 60px;

        & a {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            color: $mainColor;
            text-decoration: none;
        }

    }
    
}

