@media (max-width: 768px) {
    .contact2 {
        display: flex;
        column-gap: 30px;
        margin-bottom: 12px;

        .contacts a {
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }

}