@media (max-width: 768px) {
    .work {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 135%;
        color: $footerColor;
        margin-top: 15px;

        .work1 {
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: $footerColor;
        }
    }

}