.what_services {
    margin: 0 auto;
    padding-left: 25px;
    box-sizing: border-box;
    max-width: 1000px;
    @extend %margin;

    .content h2 {
        font-weight: 400;
        font-size: 34px;
        color: $blackColor;
        text-align: center;
        margin-top: 130px;
        margin-bottom: 30px;

        & span {
            color: $mainColor;
        }
        
    }

}



